<include>
  <user id="{{ users }}">
    <params>
      <param name="password" value="$${default_password}"/>
      <param name="vm-password" value="{{ users }}"/>
    </params>
    <variables>
      <variable name="toll_allow" value="domestic,international,local"/>
      <variable name="accountcode" value="{{ users }}"/>
      <variable name="user_context" value="default"/>
      <variable name="effective_caller_id_name" value="Extension {{ users }}"/>
      <variable name="effective_caller_id_number" value="{{ users }}"/>
      <variable name="outbound_caller_id_name" value="$${outbound_caller_name}"/>
      <variable name="outbound_caller_id_number" value="$${outbound_caller_id}"/>
      <variable name="callgroup" value="techsupport"/>
    </variables>
  </user>
</include>
